body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container{
    position: relative;
     width: 100%;
    height: 100vh;

}


.split{
    position: absolute;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.left{
    left: 0;
    background-color: #c15b5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    right: 0;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.hover-left .left{
    width: 75%;
}
.hover-left .right{
    width: 25%;
}

.hover-right .left{
    
    width: 25%;
}
.hover-right .right{
    width: 75%;
}
